NODE_ENV=development
PORT=4000
CLIENT_URL=http://localhost:5500
DATABASE_URL=postgres://usuario:password@localhost:5432/proyecto_acero
PGSSLMODE=disable
JWT_SECRET=super-secret-key
PASSWORD_ROUNDS=10
DB_POOL_MAX=10
DB_IDLE_TIMEOUT=30000
STRIPE_SECRET_KEY=sk_test_xxxxxxxxxxxxxxxxxxxxx
